@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

.container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(/src/images/galaxy.webp);
    background-size: cover;

    .list{
        color: variables.$textColor;
        position: absolute;
        right: 100;
        top: 100;
        color: variables.$secondaryTextColor;
        background-color:  variables.$textColor;
        padding: 20px;
        border-radius: 990px;
        font-weight: 400;
        cursor: pointer;
    }

    h1{
        color: variables.$textColor;
        font-size: 1.5em;
        font-weight: 400;
    }

    .containerTitle{
        color: variables.$textColor;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        font-size: 1.5em;
        font-weight: 400;
    }

    #count{
        color: variables.$textColor;
        font-size: 3em;
        font-weight: 900;
    }
}