@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

.container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(/src/images/galaxy.webp);
    background-size: cover;

    .list{
        position: absolute;
        right: 100;
        top: 100;
        color: variables.$secondaryTextColor;
        background-color:  variables.$textColor;
        padding: 20px;
        border-radius: 990px;
        font-weight: 400;
        cursor: pointer;
    }

    h1{
        color: variables.$textColor;
        font-size: 1.5em;
        font-weight: 400;
    }

    .containerTitle{
        color: variables.$textColor;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        font-size: 1.5em;
        font-weight: 400;
    }

    #count{
        color: variables.$textColor;
        font-size: 3em;
        font-weight: 900;
    }

    @media(max-width: 568px){

        .containerTitle{
            padding: 0 50px;
            align-items: start;
        }
    }

    @media(max-width: 388px){

        h1{
            font-size: 2em;
        }

        .containerTitle{
            font-size: 1em;
        }
        #count{
            font-size: 2.5em;
        }

        .list{
            right: 60;
            top: 80;
            padding: 15px;  
        }
    }
}